{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ object.id }} - Service Order Details</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <a href="{% url 'service_orders:update' object.id %}"  class="btn btn-sm btn-outline-secondary">Update</a>
      </div>
    </div>
  </div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="order_details-tab" data-bs-toggle="tab" data-bs-target="#order_details" type="button" role="tab" aria-controls="order_details" aria-selected="true">Order Details</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="customer_details-tab" data-bs-toggle="tab" data-bs-target="#customer_details" type="button" role="tab" aria-controls="customer_details" aria-selected="false">Customer Details</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="service_details-tab" data-bs-toggle="tab" data-bs-target="#service_details" type="button" role="tab" aria-controls="service_details" aria-selected="false">Service Details</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="order_details" role="tabpanel" aria-labelledby="order_details-tab">
      <div class="row justify-content-md-center">
          <div class="col-md-6">
            <label>Created At:</label>
            <input class="form-control" disabled value="{{ object.order.created_at }}">
          </div>
          <div class="col-md-6">
            <label>Updated At:</label>
            <input class="form-control" disabled value="{{ object.order.updated_at }}">
          </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-md-4">

          <label>Priorityy:</label>
            {% if object.order.priority != 1 %}
              <input class="form-control" disabled value="{{ object.order.get_priority_display }}">
            {% else %}
              <input class="form-control" disabled value="{{ object.order.get_priority_display }}" style="background: red !important;">
            {% endif %}
        </div>
        <div class="col-md-4">
          <label>Payment:</label>
          {% if object.order.payment_method != 2 %}
            <input class="form-control" disabled value="{{ object.order.get_payment_method_display }}">
          {% else %}
            <input class="form-control" disabled value="{{ object.order.get_payment_method_display }}" style="background: red !important;">
          {% endif %}
        </div>
        <div class="col-md-4">
          <label>Order Type:</label>
          <input class="form-control" disabled value="{{ object.get_order_type_display }}">
        </div>
      </div>
      {{ order_form.user_intake.label }}:
      {{ order_form.user_intake }}
      {{ order_form.approver.label }}:
      {{ order_form.approver }}
      {{ order_form.executor.label }}:
      {{ order_form.executor }}
      {{ order_form.region.label }}:
      {{ order_form.region }}
      {{ order_form.short_description.label }}:
      {{ order_form.short_description }}
      {{ order_form.additional_info.label }}:
      {{ order_form.additional_info }}
      {{ form.status.label }}:
      {{ form.status }}
      {{ form.customer_approver_name.label }}:
      {{ form.customer_approver_name }}
    </div>
    <div class="tab-pane fade" id="customer_details" role="tabpanel" aria-labelledby="customer_details-tab">
      <ul class="nav nav-tabs" id="payer-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="customer_details1-tab" data-bs-toggle="tab" data-bs-target="#customer_details1" type="button" role="tab" aria-controls="customer_details1" aria-selected="true">Customer Details</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="payer_details-tab" data-bs-toggle="tab" data-bs-target="#payer_details" type="button" role="tab" aria-controls="payer_details" aria-selected="false">Payer Details</button>
        </li>
      </ul>
      <div class="tab-content" id="payer-tab-content">
        <div class="tab-pane fade show active" id="customer_details1" role="tabpanel" aria-labelledby="customer_details-tab">
          <label>Name:</label>
          <input class="form-control" disabled value="{{ object.order.customer.name }}">
        </div>
        <div class="tab-pane fade show active" id="payer_details" role="tabpanel" aria-labelledby="payer_details-tab">
        ......
        </div>
      </div>








      {% if service_order.payer %}
        <br>
        <div class="container">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h3 class="h3">Payer Details</h3>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group me-2">
                <a href="{% url 'customers:customer_details' service_order.payer.id %}"  class="btn btn-sm btn-outline-secondary">Payer Details</a>
              </div>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-md-8">
              <h5>Payer Name</h5>
              <input class="form-control" disabled value="{{ service_order.payer.name }}">
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-md-2">
              <h5>Payer Tax</h5>
              <input class="form-control" disabled value="{{ service_order.payer.tax }}">
            </div>
            <div class="col-md-3">
              <h5>Payer Email</h5>
              {% if service_order.order.customer.email %}
                <input class="form-control" disabled value="{{ service_order.payer.email }}">
              {% else %}
                <input class="form-control" disabled value="---">
              {% endif %}
            </div>
            <div class="col-md-3">
              <h5>Payer Telephone</h5>
              <a href="tel:{{ customer_info.telephone }}" style="text-decoration: none;">
                  <input class="form-control" disabled type="tel" value="{{ customer_info.telephone }}">
              </a>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-md-8">
              <h5>Payer Description</h5>
              <textarea class="form-control" rows="4" disabled>{{ service_order.payer.description }}</textarea>
            </div>
          </div>
        </div>
      {% endif %}

























    </div>
    <div class="tab-pane fade" id="service_details" role="tabpanel" aria-labelledby="service_details-tab">
      ...
    </div>
  </div>

{% endblock %}
