{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ object.id }} - Service Order Update</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
      </div>
    </div>
  </div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="order_details-tab" data-bs-toggle="tab" data-bs-target="#order_details" type="button" role="tab" aria-controls="order_details" aria-selected="true">Order Details</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="customer_details-tab" data-bs-toggle="tab" data-bs-target="#customer_details" type="button" role="tab" aria-controls="customer_details" aria-selected="false">Customer Details</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="service_details-tab" data-bs-toggle="tab" data-bs-target="#service_details" type="button" role="tab" aria-controls="service_details" aria-selected="false">Service Details</button>
    </li>
  </ul>
  <form method="post">
    {% csrf_token %}
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="order_details" role="tabpanel" aria-labelledby="order_details-tab">
        <div class="row justify-content-md-center">
          <div class="col-md-6">
            <label>Created At:</label>
            <input class="form-control" disabled value="{{ object.order.created_at }}">
          </div>
          <div class="col-md-6">
            <label>Updated At:</label>
            <input class="form-control" disabled value="{{ object.order.updated_at }}">
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-4">
            {{ order_form.priority.label }}
            {{ order_form.priority }}
          </div>
          <div class="col-md-4">
            {{ form.order_type.label }}
            {{ form.order_type }}
          </div>
          <div class="col-md-4">
            {{ order_form.payment_method.label }}
            {{ order_form.payment_method }}
          </div>
        </div>
        <div class="col-md-12">
          <label>Intake:</label>
            <input class="form-control" disabled value="{{ object.order.user_intake.user.first_name }} {{ object.order.user_intake.user.last_name }}">
        </div>
          <div class="col-md-12">
          <label>Approver:</label>
            <input class="form-control" disabled value="{{ object.order.approver.user.first_name }} {{ object.order.approver.user.last_name }}">
        </div>
        {{ order_form.executor.label }}:
        {{ order_form.executor }}
        {{ order_form.region.label }}:
        {{ order_form.region }}
        {{ order_form.short_description.label }}:
        {{ order_form.short_description }}
        {{ order_form.additional_info.label }}:
        {{ order_form.additional_info }}
        {{ form.status.label }}:
        {{ form.status }}
        {{ form.customer_approver_name.label }}:
        {{ form.customer_approver_name }}
      </div>
      <div class="tab-pane fade" id="customer_details" role="tabpanel" aria-labelledby="customer_details-tab">
        <ul class="nav nav-tabs" id="payer-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="customer_details1-tab" data-bs-toggle="tab" data-bs-target="#customer_details1" type="button" role="tab" aria-controls="customer_details1" aria-selected="true">Customer Details</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="payer_details-tab" data-bs-toggle="tab" data-bs-target="#payer_details" type="button" role="tab" aria-controls="payer_details" aria-selected="false">Payer Details</button>
          </li>
        </ul>
        <div class="tab-content" id="customer-tab-content">
          <div class="tab-pane fade show active" id="customer_details1" role="tabpanel" aria-labelledby="customer_details-tab">
            {{ order_form.media }}
            <h5>{{ order_form.customer.label }}:</h5>
            <div id="id_customer">{{ order_form.customer }}</div>
            <div id="customer-details">
              {{ customer_form.name.label }}:
              {{ customer_form.name }}
              {{ customer_form.tax.label }}:
              {{ customer_form.tax }}
              {{ customer_form.billing_country.label }}:
              {{ customer_form.billing_country }}
              {{ customer_form.billing_postal_code.label }}:
              {{ customer_form.billing_postal_code }}
              {{ customer_form.billing_city.label }}:
              {{ customer_form.billing_city }}
              {{ customer_form.billing_street.label }}:
              {{ customer_form.billing_street }}
              {{ customer_form.billing_number.label }}:
              {{ customer_form.billing_number }}
              {{ customer_form.telephone.label }}:
              {{ customer_form.telephone }}
            </div>
            <h5>Service Address:</h5>
            {{ form.media }}
            <div id="id_address">{{ form.additional_address }}</div>
            <div id="address-details">
              {{ address_form.country.label }}:
              {{ address_form.country }}
              {{ address_form.postal_code.label }}:
              {{ address_form.postal_code }}
              {{ address_form.city.label }}:
              {{ address_form.city }}
              {{ address_form.street.label }}:
              {{ address_form.street }}
              {{ address_form.number.label }}:
              {{ address_form.number }}
              {{ address_form.description.label }}:
              {{ address_form.description }}
            </div>
          </div>
          <div class="tab-pane fade" id="payer_details" role="tabpanel" aria-labelledby="payer_details-tab">
            <h5>{{ order_form.payer.label }}:</h5>
            <div id="id_payer">{{ order_form.payer }}</div>
            <div id="payer-details">
              {{ customer_form.name.label }}:
              {{ customer_form.name }}
              {{ customer_form.tax.label }}:
              {{ customer_form.tax }}
              {{ customer_form.billing_country.label }}:
              {{ customer_form.billing_country }}
              {{ customer_form.billing_postal_code.label }}:
              {{ customer_form.billing_postal_code }}
              {{ customer_form.billing_city.label }}:
              {{ customer_form.billing_city }}
              {{ customer_form.billing_street.label }}:
              {{ customer_form.billing_street }}
              {{ customer_form.billing_number.label }}:
              {{ customer_form.billing_number }}
              {{ customer_form.telephone.label }}:
              {{ customer_form.telephone }}
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="service_details" role="tabpanel" aria-labelledby="service_details-tab">
        ...
      </div>
      <br>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-top">
          <h1 class="h2"></h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <button class="btn btn-sm btn-outline-secondary" type="submit">Save</button>
            </div>
          </div>
        </div>
    </div>
  </form>
{% endblock %}

{% block additional_scripts %}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <link href="{% static 'admin/css/vendor/select2/select2.css' %}" rel="stylesheet">
  <script src="{% static 'admin/js/vendor/select2/select2.full.js' %}"></script>
  <link href="{% static 'admin/css/autocomplete.css' %}" rel="stylesheet">
  <script src="{% static 'admin/js/autocomplete.js' %}"></script>
  <script src="{% static 'service_orders/scripts/scripts.js' %}"></script>
{% endblock %}