{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="form-center">
  <body class="text-center">
    <div class="container text-center">
      <div class="right">
        <a href="{% url 'contractors:update' contractor.id %}" class="btn btn-lg btn-outline-dark">Update</a>
      </div>
      <h1 class="h3 mb-3 font-weight-normal">Contractor Details</h1>
    </div>
    <div class="container text-center">
      <div class="row justify-content-md-center">
        <div class="col-md-8">
          {{ form.name.help_text }}
          {{ form.name }}
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-md-2">
          {{ form.tax.label }}
          {{ form.tax }}
        </div>
        <div class="col-md-2">
          {{ form.country.label }}
          {{ form.country }}
        </div>
        <div class="col-md-2">
          {{ form.postal_code.label }}
          {{ form.postal_code }}
        </div>
        <div class="col-md-2">
          {{ form.city.label }}
          {{ form.city }}
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-md-2">
          {{ form.street.label }}
          {{ form.street }}
        </div>
        <div class="col-md-2">
          {{ form.number.label }}
          {{ form.number }}
        </div>
        <div class="col-md-2">
          {{ form.country_calling_code.help_text }}
          {{ form.country_calling_code }}
        </div>
        <div class="col-md-2">
          {{ form.telephone.label }}
          {{ form.telephone }}
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-md-4">
          {{ form.email.label }}
          {{ form.email }}
        </div>
        <div class="col-md-4">
          {{ form.transfer_payment.label }}
          {{ form.transfer_payment }}
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-md-8">
          {{ form.description.label }}
          {{ form.description }}
        </div>
      </div>
    </div>
    <h1 class="h3 mb-3 font-weight-normal"></h1>
    <div class="container text-center">
      <h1 class="h3 mb-3 font-weight-normal">Contractor History</h1>
    </div>
  </body>
</div>
{% endblock %}

{% block additional_scripts %}
  <link href="{% static '/css/styles.css' %}" rel="stylesheet">
{% endblock %}
