{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container" style="display: flex; align-items: center; justify-content: space-between;">
    <br>
    <br>
    <form class="col-6 col-lg-auto mb-3 mb-lg-0 me-lg-3" style="width: 30%;">
      <input type="search" class="form-control form-control-dark sea"
             placeholder="Search by Company / Name / TAX / City / Street" aria-label="Search">
    </form>
    <h1 class="h3 mb-3 font-weight-normal" style="margin: 0; text-align: center; flex-grow: 1;">Contractors</h1>
    <h1 class="h3 mb-3 font-weight-normal" style="margin: 0; text-align: center; flex-grow: 1;"></h1>
    <a href="{% url 'contractors:create'%}" class="btn btn-lg btn-outline-dark">Add New</a>
  </div>
  <div class="table-responsive">
    <table class="container table table-hover table-auto">
      <thead class="table-dark">
        <tr>
          <th scope="col" width=10%>Name</th>
          <th scope="col" width=10%>TAX</th>
          <th scope="col" width=10%>City</th>
          <th scope="col" width=10%>Postal code</th>
          <th scope="col" width=10%>Street</th>
        </tr>
      </thead>
      <tbody id="contractors-table-body">
        {% for contractor in page_obj %}
        <tr>
          <td hidden="hidden">{% url "contractors:details" contractor.id %}</td>
          <td>{{ contractor.name|title }}</td>
          <td>{{ contractor.tax }}</td>
          <td>{{ contractor.city|title }}</td>
          <td>{{ contractor.postal_code }}</td>
          <td>{{ contractor.street|title }} {{ contractor.number }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block additional_scripts %}
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script type="text/javascript" src="{% static 'contractors/scripts/scripts.js' %}"></script>
{% endblock %}
