<div class="table-responsive small">
  <table class="table table-striped table-sm" id="order-table-{{ forloop.counter }}">
    <thead class="table-dark">
      <tr>
        <th scope="col" width=5%>#ID</th>
        <th scope="col" width=20%>Customer</th>
        <th scope="col" width=10%>Address</th>
        <th scope="col" width=10%>Short Description</th>
        <th scope="col" width=10%>Device</th>
        <th scope="col" width=8%>Status</th>
        <th scope="col" width=8%>Region</th>
        <th scope="col" width=8%>Priority</th>
        <th scope="col" width=14%>Executor</th>
        <th scope="col" width=5%></th>
      </tr>
    </thead>
    <tbody>
      {% for order_details in orders %}
        <tr class="clickable" data-toggle="collapse" data-executor_id="{{ order_details.executor_id }}" data-table_id="{{ table_id }}" data-current_position="{{ order_details.number }}" data-order_id="{{ order_details.order__id }}" data-target="#row{{ order_details.order__id }}">
        <td><a onclick="handleDropdownClick(event)" class="text-decoration-none link-dark" href="{% url 'orders:order_details' order_details.order__id %}"><b>#{{ order_details.order__id }}</b></a></td>
        {% if order_details.customer__id %}
          <td><a onclick="handleDropdownClick(event)" class="text-decoration-none link-dark" href="{% url 'customers:customer_details' order_details.customer__id %}">{{ order_details.customer_name }}</a></td>
        {% else %}
          <td>{{ order_details.customer_name }}</td>
        {% endif %}
        <td>{{ order_details.address_name }}</td>
        <td>{{ order_details.short_description_name }}</td>
        <td>{{ order_details.device_full_name }}</td>
        <td>{{ order_details.status }}</td>
        <td>
          <div class="dropdown" onclick="handleDropdownClick(event)">
            <select class="region-select form-select" style="width:auto;" data-order-id="{{ order_details.id }}">
              <option selected disabled hidden>
                {% if order_details.region__name %}
                  {{ order_details.region__name }}
                {% else %}
                  No Region
                {% endif %}
              </option>
              <option value="-1">No Region</option>
              {% for region in regions %}
                <option value="{{ region.id }}">{{ region.name }}</option>
              {% endfor %}
            </select>
          </div>
        </td>
        <td>
          <div class="dropdown" onclick="handleDropdownClick(event)">
            <select class="priority-select form-select" style="width:auto;" data-order-id="{{ order_details.id }}">
              <option selected disabled hidden>
                {{ order_details.priority }}
              </option>
              {% for id, priority in priorities %}
              <option value="{{ id }}">{{ priority }}</option>
              {% endfor %}
            </select>
          </div>
        </td>
        <td>
          <div class="dropdown" onclick="handleDropdownClick(event)">
            <select class="executor-select form-select" style="width:auto;" data-order-id="{{ order_details.id }}">
              <option selected disabled hidden>
                {% if order_details.executor_name != ' ' %}
                  {{ order_details.executor_name }}
                {% else %}
                  No Executor
                {% endif %}
              </option>
              <option value="-1">No Executor</option>
              {% for employee in employees %}
                <option value="{{ employee.id }}">{{ employee.full_name }}</option>
              {% endfor %}
            </select>
          </div>
        </td>
        <td>
          <div class="btn-group me-2">
            {% if orders|length == 1 %}
              <button disabled="disabled" class="btn btn-sm btn-outline-secondary move-up"><i class="bi bi-arrow-up-square"></i></button>
              <button disabled="disabled" class="btn btn-sm btn-outline-secondary move-down"><i class="bi bi-arrow-down-square"></i></button>
            {% elif forloop.counter != orders|length and forloop.counter != 1 %}
              <button class="btn btn-sm btn-outline-secondary move-up"><i class="bi bi-arrow-up-square"></i></button>
              <button class="btn btn-sm btn-outline-secondary move-down"><i class="bi bi-arrow-down-square"></i></button>
            {% elif forloop.counter == orders|length %}
              <button class="btn btn-sm btn-outline-secondary move-up"><i class="bi bi-arrow-up-square"></i></button>
              <button disabled="disabled" class="btn btn-sm btn-outline-secondary move-down"><i class="bi bi-arrow-down-square"></i></button>
            {% elif forloop.counter == 1 %}
              <button disabled="disabled" class="btn btn-sm btn-outline-secondary move-up"><i class="bi bi-arrow-up-square"></i></button>
              <button class="btn btn-sm btn-outline-secondary move-down"><i class="bi bi-arrow-down-square"></i></button>
            {% endif %}
          </div>
        </td>
        </tr>
        <tr></tr>
        <tr id="row{{ order_details.order__id }}" class="collapse">
          <td colspan="4">
            <ul>
              <li><b>Created At:</b> {{ order_details.created_at }}</li>
              <li><b>Updated At:</b> {{ order_details.updated_at }}</li>
              <li><b>Order Intake:</b> {{ order_details.order_intake_name }}</li>
              <li><b>Order Type:</b> {{ order_details.order_type }}</li>
              <li><b>Payment Method:</b> {{ order_details.payment_method }}</li>
            </ul>
          </td>
          <td colspan="3"><strong>Additional Information:</strong><br>{{ order_details.additional_info_name }}</td>
          <td colspan="3"><strong>Order Description:</strong><br>{{ order_details.description_name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
