{% extends "order_management/base_order_management.html" %}
{% load static %}

{% block content %}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Order Management</h1>
    <div class="container" style="width: 40%;">
      <input type="search" class="form-control form-control-dark sea"
        placeholder="Search by Customer" aria-label="Search"></div>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <a href="{% url 'orders:order_create' %}" class="btn btn-sm btn-outline-secondary">Add New Order</a>
      </div>
    </div>
  </div>
  <div class="d-flex flex-wrap flex-md-nowrap">
    <div class="d-flex align-items-center border border-1 p-2 form-control">
      <span class="d-inline me-2">Filter By Region:</span>
      <select id="filterByRegion" class="form-select d-inline">
        <option hidden="hidden" value="{{ selected_region }}">{{ selected_region }}</option>
        <option value="Display All">Display All</option>
        <option value="No Region">No Region</option>
        {% for region in regions %}
          <option value="{{ region.name }}">{{ region.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="d-flex align-items-center border border-1 p-2 form-control">
      <span class="d-inline me-2">Filter By Priority:</span>
      <select id="filterByPriority" class="form-select d-inline">
        <option value="All">Display All</option>
        {% for _, priority in priorities %}
          <option value="{{ priority }}">{{ priority }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="d-flex align-items-center border border-1 p-2 form-control">
      <span class="d-inline me-2">Filter By Employee:</span>
      <select id="filterByEmployee" class="form-select d-inline">
        <option value="All">Display All</option>
        {% for employee in employees %}
          <option value="{{ employee.full_name }}">{{ employee.full_name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="table-responsive small">
    <table class="table table-striped table-sm">
      <thead class="table-dark">
        <tr>
          <th scope="col" width=5%>#ID</th>
          <th scope="col" width=20%>Customer</th>
          <th scope="col" width=10%>Address</th>
          <th scope="col" width=10%>Short Description</th>
          <th scope="col" width=10%>Device</th>
          <th scope="col" width=8%>Status</th>
          <th scope="col" width=8%>Region</th>
          <th scope="col" width=8%>Priority</th>
          <th scope="col" width=14%>Executor</th>
        </tr>
      </thead>
      <tbody id="order-table">
        {% for order in orders %}
          <tr class="clickable" data-toggle="collapse" data-target="#row{{ order.id }}">
            <td><a class="text-decoration-none link-dark" href="{% url 'orders:order_details' order.id %}"><b>#{{ order.id }}</b></a></td>
            {% if order.customer__id %}
              <td><a class="text-decoration-none link-dark" href="{% url 'customers:customer_details' order.customer__id %}">{{ order.customer__name }}</a></td>
            {% else %}
              <td>{{ order.customer__name }}</td>
            {% endif %}
            <td>{{ order.address_full_name }}</td>
            <td>{{ order.short_description__name }}</td>
            <td>{{ order.device_full_name }}</td>
            <td>{{ order.status }}</td>
            <td>
              <div class="dropdown" onclick="handleDropdownClick(event)" >
                <select class="region-select form-select" style="width:auto;" data-order-id="{{ order.id }}">
                  <option selected disabled hidden>
                    {% if order.region__name %}
                      {{ order.region__name }}
                    {% else %}
                      No Region
                    {% endif %}
                  </option>
                  <option value="-1">No Region</option>
                  {% for region in regions %}
                    <option value="{{ region.id }}">{{ region.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
            <td>
              <div class="dropdown" onclick="handleDropdownClick(event)" >
                <select class="priority-select form-select" style="width:auto;" data-order-id="{{ order.id }}">
                  <option selected disabled hidden>
                    {{ order.priority }}
                  </option>
                  {% for id, priority in priorities %}
                  <option value="{{ id }}">{{ priority }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
            <td>
              <div class="dropdown" onclick="handleDropdownClick(event)" >
                <select class="executor-select form-select" style="width:auto;" data-order-id="{{ order.id }}">
                  <option selected disabled hidden>
                    {% if order.executor_full_name != ' ' %}
                      {{ order.executor_full_name }}
                    {% else %}
                      No Executor
                    {% endif %}
                  </option>
                  <option value="-1">No Executor</option>
                  {% for employee in employees %}
                    <option value="{{ employee.id }}">{{ employee.full_name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
          </tr>
          <tr></tr>
          <tr id="row{{ order.id }}" class="collapse">
            <td colspan="3">
              <ul>
                <li><b>Created At:</b> {{ order.created_at }}</li>
                <li><b>Updated At:</b> {{ order.updated_at }}</li>
                <li><b>Order Intake:</b> {{ order.order_intake_full_name }}</li>
                <li><b>Order Type:</b> {{ order.order_type }}</li>
                <li><b>Payment Method:</b> {{ order.payment_method }}</li>
              </ul>
            </td>
            <td colspan="3"><strong>Additional Information:</strong><br>{{ order.additional_info }}</td>
            <td colspan="3"><strong>Order Description:</strong><br>{{ order.description }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
