{% extends "base.html" %}
{% load static %}

{% block sidebar %}
  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
    <span>Management Options</span>
  </h6>
  <ul class="nav flex-column mb-auto">
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2" href="#">
        <svg class="bi"><use xlink:href="#technician"/></svg>
        Orders By Employees
      </a>
    </li>
  </ul>
{% endblock %}

{% block content %}
{% endblock %}

{% block additional_scripts %}
  <script type="text/javascript" src="{% static 'order_management/scripts/scripts.js' %}"></script>
{% endblock %}
