{% extends "customers/customers_base.html" %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">
      <a class="link-dark link-offset-2 link-underline link-underline-opacity-0" href="{% url 'customers:customer_details' customer.id %}">
        {{ customer.name }}
      </a>
      - Additional Address Update
    </h1>
  </div>
  <form method="post">
    {% csrf_token %}
    <div class="container text-center">
      <div class="row justify-content-md-center">
        <div class="col-md-2">
          <h5>{{ form.country.label }}</h5>
          {{ form.country }}
        </div>
        <div class="col-md-2">
          <h5>{{ form.postal_code.label }}</h5>
          {{ form.postal_code }}
        </div>
        <div class="col-md-2">
          <h5>{{ form.city.label }}</h5>
          {{ form.city }}
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-md-3">
          <h5>{{ form.street.label }}</h5>
          {{ form.street }}
        </div>
        <div class="col-md-2">
          <h5>{{ form.number.label }}</h5>
          {{ form.number }}
        </div>
          <div class="col-md-1">
            <h5>{{ form.is_active.label }}</h5>
            {{ form.is_active }}
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-md-6">
          <h5>{{ form.description.label }}</h5>
          {{ form.description }}
        </div>
      </div>
    </div>
    <br>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-top">
      <h1 class="h2"></h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <button class="btn btn-sm btn-outline-secondary" type="submit">Save</button>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
