<table class="table table-striped table-sm">
  <tbody id="table-body">
    {% for customer in page_obj %}
      <tr>
        <td hidden="hidden">{% url "customers:customer_details" customer.id %}</td>
        <td>{{ customer.name|title }}</td>
        <td>{{ customer.tax }}</td>
        <td>{{ customer.billing_city|title }}</td>
        <td>{{ customer.billing_postal_code }}</td>
        <td>{{ customer.billing_street|title }} {{ customer.billing_number }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
