{% extends "services/service_base.html" %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Brand Details</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <a href="{% url 'services:brand_update' object.id %}"  class="btn btn-sm btn-outline-secondary">Update</a>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <h5>{{ form.name.label }}</h5>
        {{ form.name }}
      </div>
    </div>
  </div>
  <br>
{% endblock %}
