{% extends "services/service_base.html" %}
{% load i18n %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">{% blocktrans %}Service Details{% endblocktrans %}</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button onclick="window.location.href='{% url 'history:list' %}?model=services&model_id={{ service.id }}'" class="btn btn-sm btn-outline-secondary select-button">{% blocktrans %}Update History{% endblocktrans %}</button>&nbsp;
        <button onclick="window.location.href='{% url 'services:service_update' service.id %}'" class="btn btn-sm btn-outline-secondary select-button">{% blocktrans %}Update{% endblocktrans %}</button>
      </div>
    </div>
  </div>
  {{ form.as_div }}
  <br>
{% endblock %}
