{% load i18n %}

<table class="table table-striped table-sm">
  <tbody id="review-table-body">
    {% for order in page_obj %}
      <tr data-target="#row{{ order.id }}">
        <td><a onclick="handleDropdownClick(event)" class="text-body" style="text-decoration: none;" href="{% url 'orders:order_details' order.id %}"><b>#{{ order.id }}</b></a></td>
        <td><a onclick="handleDropdownClick(event)" class="text-body" style="text-decoration: none;" href="{% url 'customers:customer_details' order.customer.id %}">
          <b>{% blocktrans %}Name{% endblocktrans %}:</b> {{ order.customer.name }}<br>
          <b>{% blocktrans %}Address{% endblocktrans %}:</b> {{ order.customer.get_address }}
        </a></td>
        {% if not order.payer.id == order.customer.id %}
          <td><a onclick="handleDropdownClick(event)" class="text-body" style="text-decoration: none;" href="{% url 'customers:customer_details' order.payer.id %}">
          <b>{% blocktrans %}Name{% endblocktrans %}:</b> {{ order.payer.name }}<br>
          <b>{% blocktrans %}Address{% endblocktrans %}:</b> {{ order.payer.get_address }}
          </a></td>
        {% else %}
          <td>{% blocktrans %}The Same Data as Customer{% endblocktrans %}</td>
        {% endif %}
        {% if order.additional_info %}
          <td>{{ order.additional_info }}</td>
        {% else %}
          <td>---</td>
        {% endif %}
        {% if order.device %}
          <td>
            <b>{% blocktrans %}Name{% endblocktrans %}: </b>{{ order.device.brand }} {{ order.device.model }}<br>
            <b>{% blocktrans %}S/N{% endblocktrans %}: </b>{{ order.device.serial_number }}
            {% if order.device.total_counter %}
              <br><b>{% blocktrans %}Total Counter{% endblocktrans %}: </b>{{ order.device.total_counter }}
            {% endif %}
            {% if order.device.mono_counter %}
              <br><b>{% blocktrans %}Mono Counter{% endblocktrans %}: </b>{{ order.device.mono_counter }}
            {% endif %}
            {% if order.device.color_counter %}
              <br><b>{% blocktrans %}Color Counter{% endblocktrans %}: </b>{{ order.device.color_counter }}
            {% endif %}
          </td>
        {% elif order.device_name %}
          <td><b>{% blocktrans %}Name{% endblocktrans %}: </b>{{ order.device_name }}</td>
        {% else %}
          <td>---</td>
        {% endif %}
        <td>{{ order.get_status_display }}</td>
        {% if not for_review == 'true' %}
        <td>
          <button class="btn btn-sm btn-outline-secondary" data-for-review="{{ for_review }}" data-order-id="{{ order.id }}" data-action="to_review">{% blocktrans %}To Review{% endblocktrans %}</button>
        </td>
        {% endif %}
        <td>
          <button class="btn btn-sm btn-outline-secondary" data-for-review="{{ for_review }}" data-order-id="{{ order.id }}" data-action="approve">{% blocktrans %}Approve{% endblocktrans %}</button>
        </td>
        <td>
          <button class="btn btn-sm btn-outline-secondary" onclick="toggleDetails({{ order.id }})">{% blocktrans %}Details{% endblocktrans %}</button>
        </td>
      </tr>
      <tr></tr>
      <tr id="row{{ order.id }}" class="collapse">
        <td colspan="2">
          <b>{% blocktrans %}Order Details{% endblocktrans %}:</b>
          <ul>
            <li><b>{% blocktrans %}Order Intake{% endblocktrans %}:</b> {{ order.user_intake }}</li>
            <li><b>{% blocktrans %}Order Type{% endblocktrans %}:</b> {{ order.get_order_type_display }}</li>
            <li><b>{% blocktrans %}Payment Method{% endblocktrans %}:</b> {{ order.get_payment_method_display }}</li>
            <li><b>{% blocktrans %}Phone Number{% endblocktrans %}:</b> {% if order.phone_number %}{{ order.phone_number }}{% else %}---{% endif %}</li>
          </ul><br>
          <b>{% blocktrans %}Customer Details{% endblocktrans %}:</b>
          <ul>
            {% if order.customer.tax %}
              <li><b>{% blocktrans %}Tax{% endblocktrans %}:</b> {{ order.customer.tax }}</li>
            {% endif %}
            {% if order.customer.phone_number %}
              <li><b>{% blocktrans %}Phone Number{% endblocktrans %}:</b> {{ order.customer.phone_number }}</li>
            {% endif %}
            {% if order.customer.email %}
              <li><b>{% blocktrans %}Email{% endblocktrans %}:</b> {{ order.customer.email }}</li>
            {% endif %}
            {% if order.customer.description %}
              <li><b>{% blocktrans %}Customer Info{% endblocktrans %}:</b> {{ order.customer.description }}</li>
            {% endif %}
          </ul>
          {% if not order.payer.id == order.customer.id %}
            <br>
            <b>{% blocktrans %}Payer Details{% endblocktrans %}:</b>
            <ul>
              {% if order.payer.tax %}
                <li><b>{% blocktrans %}Tax{% endblocktrans %}:</b> {{ order.payer.tax }}</li>
              {% endif %}
              {% if order.payer.phone_number %}
                <li><b>{% blocktrans %}Phone Number{% endblocktrans %}:</b> {{ order.payer.phone_number }}</li>
              {% endif %}
              {% if order.payer.email %}
                <li><b>{% blocktrans %}Email{% endblocktrans %}:</b> {{ order.payer.email }}</li>
              {% endif %}
              {% if order.payer.description %}
                <li><b>{% blocktrans %}Payer Info{% endblocktrans %}:</b> {{ order.payer.description }}</li>
              {% endif %}
            </ul>
          {% endif %}
        </td>
        <td colspan="7">
          <table class="table table-striped table-sm">
            <thead class="table-dark">
              <tr>
                <th scope="col" width=5%>#</th>
                <th scope="col" width=20%>{% blocktrans %}Service{% endblocktrans %}</th>
                <th scope="col" width=10%>{% blocktrans %}Quantity{% endblocktrans %}</th>
                <th scope="col" width=10%>{% blocktrans %}Net Price{% endblocktrans %}</th>
              </tr>
            </thead>
            <tbody>
              {% for service in order.services.all %}
                <tr>
                  <td><b>{{ forloop.counter }}</b></td>
                  <td>{{ service.name }}</td>
                  <td>{{ service.quantity }}</td>
                  <td>{{ service.price_net }}</td>
                </tr>
              {% endfor %}
                <tr>
                  <td></td>
                  <td></td>
                  <td><b>{% blocktrans %}Total{% endblocktrans %}:</b></td>
                  <td>{{ order.total_price }} {% blocktrans %}NET PLN{% endblocktrans %}</td>
                </tr>
            </tbody>
          </table>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
